$radio = 37.5
px2rem($px) {
  $px / $radio * 1rem
}
center() {
  display flex
  align-items center
  justify-content center
}
left() {
  display flex
  align-items center
  justify-content flex-start
}
right() {
  display flex
  align-items center
  justify-content flex-end
}