$radio = 37.5
px2rem($px) {
  $px / $radio * 1rem
}
center() {
  display flex
  align-items center
  justify-content center
}
left() {
  display flex
  align-items center
  justify-content flex-start
}
right() {
  display flex
  align-items center
  justify-content flex-end
}
ellipsis() {
  text-overflow ellipsis
  overflow hidden
  white-space nowrap
}
ellipsis2() {
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-line-clamp 2
  white-space normal
  overflow hidden
  text-overflow ellipsis
  word-break break-all
}